<div class="relative h-screen w-full snap-y snap-mandatory snap-always overflow-y-auto px-3">
    <div
        class="mx-auto max-w-[65rem]"
        style="--max-feed-item-height: min(100vh, 800px); --feed-item-padding-y: 1.5rem"
    >
        @if (!feed() && !feedError()) {
            <div class="absolute inset-0 flex -translate-y-22 flex-col items-center justify-center">
                <app-progress-ring [diameter]="150" [strokeWidth]="8" mode="spinning"></app-progress-ring>
                <p class="type-label-md text-content-secondary">Loading releases...</p>
            </div>
        }
        @if (feedError()) {
            <div
                class="absolute inset-0 mx-auto flex max-w-64 -translate-y-22 flex-col items-center justify-center"
            >
                <p class="text-content-danger">
                    <app-icon name="octXCircleFill" color="content.danger" size="3rem"></app-icon>
                </p>
                <p class="type-label-md mt-2 text-center text-content-danger">
                    {{ feedError() }}
                </p>

                <button class="btn-nkd-neutral mt-3" (click)="retryNotifier$.next()">Retry</button>
            </div>
        }

        @if (!feedError() && feed()) {
            @if (feed()?.length == 0) {
                <div
                    class="absolute inset-0 mx-auto flex max-w-64 -translate-y-22 flex-col items-center justify-center px-3 text-center"
                >
                    <p class="type-section-title text-content-primary">No new releases</p>
                    @if (this.feedService.hasFeed() | async) {
                        <p class="type-body-sm mt-2 text-content-muted">
                            You're all caught up! Check back later for new releases.
                        </p>
                    } @else {
                        <p class="type-body-sm mt-2 text-content-muted">
                            It looks like you haven't set up your feed yet. Go to
                            <a class="" routerLink="/settings">settings</a>
                            to get started.
                        </p>
                    }
                </div>
            }

            @for (feedItem of feed(); track feedItem.id) {
                <div
                    class="feed-entry | my-32 flex max-h-[var(--max-feed-item-height)] min-h-[45vh] snap-center items-center py-[calc(var(--feed-item-padding-y)/2)] transition-all duration-slow ease-standard"
                    [ngClass]="{ 'opacity-30 blur-sm': currentFeedIndex() != $index }"
                    #feedEntry
                    (intersectionChange)="onIntersectionChange($event, feedItem, $index)"
                    [intersectionThreshold]="1"
                    #emailEntryIntersection="appIntersection"
                >
                    <!-- @TODO: handle all feed item types -->
                    <div class="inner-container | grid size-full grid-cols-[300px_1fr_120px] gap-4">
                        <div class="artwork-column | grid h-full grid-rows-[300px_1fr]">
                            <img
                                class="album-cover | aspect-square shrink-0 rounded-lg shadow-lg"
                                width="300px"
                                [src]="feedItem.data.imageUrl"
                                alt="Album cover for {{ feedItem.data.releaseName }}"
                            />

                            <!-- @TODO: the height on this is very fragile, keep it up to date and come up with a better approach -->
                            <!-- @TODO: we need to add the same kind of shadow effect on the scrolling list here as on the text-column -->
                            <ul
                                class="tracks | mt-4 max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y)-300px-0.75rem)] overflow-y-auto"
                            >
                                @for (track of feedItem.data.tracks; track $index) {
                                    <li
                                        class="track | type-body-sm flex justify-between gap-2"
                                        [attr.data-track-index]="$index"
                                        [ngClass]="{
                                            'text-content-muted': !track.streamUrl,
                                            'font-bold text-content-success':
                                                track.streamUrl == audioPlayer.currentUrl(),
                                            'mt-2': !$first,
                                        }"
                                    >
                                        <!-- @TODO: add track seeker for active track -->
                                        <span>
                                            @if (feedItem.data.releaseType == 'album') {
                                                {{ $index + 1 }}.
                                            }
                                            {{ track.title }}</span
                                        >
                                        <span>
                                            {{ track.duration ? formatDuration(track.duration) : '' }}
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div
                            class="text-column | relative flex max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y))] flex-col justify-between overflow-y-auto"
                        >
                            <div class="">
                                @if (feedItem.error; as error) {
                                    <div class="error | mb-1.5 flex items-center gap-2">
                                        <p class="text-content-danger">
                                            <app-icon
                                                name="octXCircleFill"
                                                color="content.danger"
                                                size="1.3rem"
                                                class="translate-y-[3px]"
                                            ></app-icon>
                                        </p>
                                        <p class="type-label-md text-content-danger">
                                            {{ error.message || 'Error loading feed item' }}
                                        </p>
                                    </div>
                                }

                                <h1 class="tralbum-title | type-hero-title">
                                    <a
                                        [href]="feedItem.data.releaseUrl"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="select-text text-content-primary transition-colors duration-fast hover:text-content-action not-hover:no-underline"
                                    >
                                        {{ feedItem.data.releaseName }}
                                    </a>
                                </h1>
                                <p class="type-body-sm mt-1">
                                    @if (feedItem.data.artist) {
                                        <span class="artist | select-text text-content-secondary">
                                            by {{ feedItem.data.artist }}
                                        </span>
                                        <span class="text-content-muted">•</span>
                                    }
                                    <span
                                        class="dates | text-content-muted"
                                        [title]="
                                            'released ' +
                                            (feedItem.data.releaseDate | date) +
                                            ', announced ' +
                                            formatDateRelative(feedItem.data.emailReceivedAt)
                                        "
                                    >
                                        @if (feedItem.data.releaseDate) {
                                            {{
                                                isInThePast(feedItem.data.releaseDate)
                                                    ? 'released'
                                                    : 'releases'
                                            }}
                                            {{ formatDateRelative(feedItem.data.releaseDate) + ', ' }}
                                        }
                                        announced {{ formatDateRelative(feedItem.data.emailReceivedAt) }}
                                    </span>
                                </p>

                                <p
                                    class="about | type-body-sm mt-6 select-text text-content-secondary"
                                    [innerHTML]="feedItem.data.about | safe: 'html'"
                                ></p>

                                <!-- @TODO: abstract this into a <link-meta-previews /> -->
                                <ul class="links | type-body-sm mt-5 flex flex-wrap gap-1">
                                    @for (link of feedItem.data.links; track $index) {
                                        <li class="flex w-full">
                                            <a
                                                [href]="link.url"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="flex max-w-full items-center gap-1.5 truncate rounded-lg bg-background-surface px-2 py-1 transition-colors duration-fast hover:bg-background-elevated not-hover:text-content-muted"
                                                [title]="link.url"
                                            >
                                                <img
                                                    class="favicon"
                                                    [src]="link.favicon"
                                                    alt="Favicon for {{ link.title }}"
                                                    width="16"
                                                    height="16"
                                                />

                                                <span class="inline-block truncate">{{ link.title }}</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="feed-controls | sticky bottom-0 mt-4 flex justify-end">
                                <div
                                    class="shadow-overlay | z-0 size-full bg-gradient-to-b from-transparent to-background-canvas"
                                ></div>

                                <div class="flex rounded-tl-xl text-xl">
                                    <button
                                        class="-mr-2 flex items-center gap-2 p-2 text-content-muted transition-colors duration-fast hover:text-content-primary"
                                        (click)="toggleCurrentFeedItemSnoozedState()"
                                        [title]="
                                            snoozedFeedItems.has(feedItem.id)
                                                ? 'Click to un-snooze (dont\'t show again)'
                                                : 'Click to snooze (show again tomorrow)'
                                        "
                                    >
                                        <!-- @TODO: this may need to be made reactive -->
                                        <!-- @TODO: use ngx-icons here as well  -->
                                        <i
                                            class="{{
                                                snoozedFeedItems.has(feedItem.id) ? 'fas' : 'far'
                                            }} fa-alarm-snooze"
                                        ></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        @if (feedItem.data.band) {
                            <div
                                class="label-column | max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y))] overflow-y-auto"
                            >
                                @if (feedItem.data.band.imageUrl; as imageUrl) {
                                    <img
                                        class="label-image | shrink-0 rounded-md shadow-md"
                                        width="120px"
                                        [src]="imageUrl"
                                        alt="Label image for {{ feedItem.data.band.name }}"
                                    />
                                }
                                <p class="type-label-md mt-2 select-text text-content-primary">
                                    {{ feedItem.data.band.name }}
                                </p>
                                <p class="type-body-sm select-text text-content-muted">
                                    {{ feedItem.data.band.location }}
                                </p>
                                @if (feedItem.data.unsubscribeUrl) {
                                    <a
                                        [href]="feedItem.data.unsubscribeUrl"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="type-label-md btn-muted relative mt-2.5 block text-center not-hover:no-underline [&_.following]:hover:hidden [&_.unfollow]:not-hover:hidden"
                                        [title]="feedItem.data.unsubscribeText"
                                    >
                                        <span class="opacity-0">Text</span>
                                        <span class="following | absolute inset-0 py-1.5">Following</span>
                                        <span class="unfollow | absolute inset-0 py-1.5">Unfollow</span>
                                    </a>
                                }
                                <p
                                    class="type-body-sm mt-2.5 select-text leading-snug text-content-secondary"
                                >
                                    {{ feedItem.data.band.bio }}
                                </p>

                                <ul class="label-links | type-body-sm mt-2.5">
                                    @for (link of feedItem.data.band.links; track $index) {
                                        <li class="truncate leading-5">
                                            <a
                                                [href]="link.url"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="max-w-full truncate text-content-primary not-hover:no-underline"
                                                [title]="link.url"
                                            >
                                                {{ link.text }}
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
