<div class="flex overflow-hidden h-screen">
    <div class="sidebar | flex flex-col shrink-0 bg-tinted-750 w-52 px-4 py-4">
        <nav>
            <ul class="flex flex-col gap-px">
                <li>
                    <a
                        class="btn-nkd-neutral"
                        routerLink="/home"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Home</a
                    >
                </li>
                <li>
                    <a class="btn-nkd-neutral" routerLink="/feed" routerLinkActive="active-link">Feed</a>
                </li>
                <li>
                    <a class="btn-nkd-neutral" routerLink="/import" routerLinkActive="active-link"
                        >Import Settings</a
                    >
                </li>
            </ul>
        </nav>

        @if (importProgress(); as importStatus) {
            @if (importStatus.phase == 'idle') {
                <hr />
                <button class="btn-primary" (click)="triggerEmailImport()">Import</button>
            } @else if (importStatus.phase == 'processing') {
                <app-progress-bar class="mt-4" [segments]="progressBarSegments() || []"></app-progress-bar>

                <p class="mt-3 text-sm h-24 align-top overflow-y-hidden relative">
                    {{ importStatus.message }}
                    <span
                        class="absolute top-10 inset-0 bg-gradient-to-b from-transparent to-tinted-750"
                    ></span>
                </p>
                <button class="btn-nkd-neutral mt-2" (click)="cancelEmailImport()">Cancel</button>
            } @else if (importStatus.phase == 'completed') {
                <hr />
                <p class="text-sm">
                    Done! Processed {{ importStatus.totalProcessed }} emails, imported
                    {{ importStatus.newlyImported }} new ones.
                </p>
                <button class="btn-neutral mt-2" (click)="this.importProgress.set({ phase: 'idle' })">
                    Cool
                </button>
            } @else if (importStatus.phase == 'error') {
                <app-progress-bar class="mt-4" [segments]="progressBarSegments() || []"></app-progress-bar>
                <p class="mt-3 text-sm">
                    {{ importStatus.errorMessage }}
                </p>
                <button class="btn-primary mt-2" (click)="triggerEmailImport()">Retry</button>
            }
        }

        <div class="flex h-full items-center justify-center">
            <div class="flex flex-col gap-3">
                <button
                    class="bg-tinted-500 p-2 rounded-md"
                    (click)="audioPlayer.isPlaying() ? audioPlayer.pause() : audioPlayer.play()"
                >
                    {{ audioPlayer.isPlaying() ? 'PAUSE' : 'PLAY' }}
                </button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
