<div class="flex overflow-hidden">
    <div class="sidebar | flex flex-col shrink-0">
        <h1 class="title">
            {{ 'PAGES.DETAIL.TITLE' | translate }}
            <!-- @TODO: email count + unread can be brought back later -->
        </h1>

        <a routerLink="/">{{ 'PAGES.DETAIL.BACK_TO_HOME' | translate }}</a>

        <div class="flex h-full items-center justify-center">
            <div class="flex flex-col gap-3">
                <button
                    class="bg-tinted-500 p-2 rounded-md"
                    (click)="audioPlayer.isPlaying() ? audioPlayer.pause() : audioPlayer.play()"
                >
                    {{ audioPlayer.isPlaying() ? 'PAUSE' : 'PLAY' }}
                </button>
            </div>
        </div>
    </div>

    <div class="snap-y snap-mandatory snap-always overflow-y-auto h-screen w-full px-3">
        <div
            class="mx-auto max-w-[65rem]"
            style="--max-feed-item-height: min(100vh, 800px); --feed-item-padding-y: 1.5rem"
        >
            @for (feedItem of feed(); track $index) {
                <div
                    class="feed-entry | snap-center my-32 py-[calc(var(--feed-item-padding-y)/2)] min-h-[45vh] max-h-[var(--max-feed-item-height)] flex items-center transition-all duration-500"
                    [ngClass]="{ 'opacity-30 blur-sm': currentFeedIndex() != $index }"
                    #feedEntry
                    (intersectionChange)="onIntersectionChange($event, feedItem, $index)"
                    [intersectionThreshold]="1"
                    #emailEntryIntersection="appIntersection"
                >
                    <!-- @TODO: handle all feed item types -->
                    <div class="inner-container | grid gap-4 w-full grid-cols-[300px_1fr_120px] h-full">
                        <div class="artwork-column | h-full grid grid-rows-[300px_1fr]">
                            <img
                                class="album-cover | aspect-square shrink-0 rounded-md"
                                width="300px"
                                [src]="feedItem.data.imageUrl"
                                alt="Album cover for {{ feedItem.data.releaseName }}"
                            />

                            <!-- @TODO: the height on this is very fragile, keep it up to date and come up with a better approach -->
                            <ul
                                class="tracks | mt-3 overflow-y-auto max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y)-300px-0.75rem)]"
                            >
                                @for (track of feedItem.data.tracks; track $index) {
                                    <li
                                        class="track | text-sm flex justify-between gap-2"
                                        [attr.data-track-index]="$index"
                                        [ngClass]="{
                                            'text-tinted-400': !track.streamUrl,
                                            'text-blue-300 font-bold':
                                                track.streamUrl == audioPlayer.currentUrl(),
                                            'mt-2': !$first,
                                        }"
                                    >
                                        <!-- @TODO: add track seeker for active track -->
                                        <span>
                                            @if (feedItem.data.releaseType == 'album') {
                                                {{ $index + 1 }}.
                                            }
                                            {{ track.name }}</span
                                        >
                                        <span>
                                            {{ track.duration ? formatDuration(track.duration) : '' }}
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div
                            class="text-column | max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y))] overflow-y-auto"
                        >
                            <h2 class="release-name | text-3xl">
                                <a
                                    [href]="feedItem.data.releaseUrl"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-tinted-100 not-hover:no-underline"
                                >
                                    {{ feedItem.data.releaseName }}
                                </a>
                            </h2>
                            <h2 class="artist | text-sm">by {{ feedItem.data.artist?.name }}</h2>
                            <div class="dates | mt-3 flex gap-2 items-center">
                                @if (feedItem.data.releaseDate) {
                                    <span
                                        class="text-xs bg-tinted-700 border border-tinted-500 rounded-full px-1.5 py-px"
                                        [title]="
                                            isInThePast(feedItem.data.releaseDate)
                                                ? 'released ' +
                                                  (feedItem.data.releaseDate | date) +
                                                  ' • announced ' +
                                                  formatDateRelative(feedItem.data.emailReceivedAt)
                                                : (feedItem.data.releaseDate | date)
                                        "
                                    >
                                        {{ isInThePast(feedItem.data.releaseDate) ? 'released' : 'releases' }}
                                        {{ formatDateRelative(feedItem.data.releaseDate) }}</span
                                    >
                                }
                                @if (!feedItem.data.releaseDate || !isInThePast(feedItem.data.releaseDate)) {
                                    <span
                                        class="text-sm text-tinted-400"
                                        [title]="feedItem.data.emailReceivedAt | date: 'medium'"
                                        >announced {{ formatDateRelative(feedItem.data.emailReceivedAt) }}
                                    </span>
                                }
                            </div>

                            <p
                                class="body | mt-6 text-sm text-tinted-200"
                                [innerHTML]="feedItem.data.plainBody | safe: 'html'"
                            ></p>

                            <ul class="other-links | text-sm">
                                @for (link of feedItem.data.links; track $index) {
                                    <li>
                                        <a
                                            [href]="link"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="wrap-nicely"
                                        >
                                            {{ link }}
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        @if (feedItem.data.label) {
                            <div
                                class="label-column | max-h-[calc(var(--max-feed-item-height)-var(--feed-item-padding-y))] overflow-y-auto"
                            >
                                @if (feedItem.data.label.imageUrl; as imageUrl) {
                                    <img
                                        class="label-image | shrink-0 rounded-md"
                                        width="120px"
                                        [src]="imageUrl"
                                        alt="Label image for {{ feedItem.data.label.name }}"
                                    />
                                }
                                <p class="text-sm font-bold mt-2">{{ feedItem.data.label.name }}</p>
                                <p class="text-xs">{{ feedItem.data.label.location }}</p>
                                <p class="text-xs mt-2">{{ feedItem.data.label.description }}</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
