<svg [attr.height]="diameter" [attr.width]="diameter">
    <circle
        class="progress-bg"
        [attr.stroke-width]="strokeWidth"
        [attr.stroke]="bgColor"
        fill="transparent"
        [attr.r]="radius"
        [attr.cx]="position"
        [attr.cy]="position"
    />
    <circle
        class="progress-ring"
        [class.spin]="mode == 'spinning'"
        [attr.stroke-width]="strokeWidth"
        [attr.stroke]="color"
        [attr.stroke-dasharray]="strokeDasharray"
        [attr.stroke-dashoffset]="offset"
        fill="transparent"
        [attr.r]="radius"
        [attr.cx]="position"
        [attr.cy]="position"
    />
    <circle
        *ngIf="mode == 'spinning'"
        class="progress-ring progress-ring-2 spin"
        [attr.stroke-width]="strokeWidth"
        [attr.stroke]="color"
        [attr.stroke-dasharray]="strokeDasharray"
        [attr.stroke-dashoffset]="offset"
        fill="transparent"
        [attr.r]="radius"
        [attr.cx]="position"
        [attr.cy]="position"
    />
</svg>
