<div
    hlmProgress
    class="progress-container | flex h-auto overflow-visible bg-transparent"
    [class.glow]="shouldGlow()"
    [value]="totalPercent()"
    [attr.aria-label]="ariaLabel()"
>
    <div class="progress-bar | flex h-1.5 grow rounded-full bg-border-subtle transition-colors">
        @for (segment of segments(); track $index) {
            <div
                class="progress-segment | h-full"
                [class.rounded-l-full]="$first"
                [class.rounded-r-full]="$last"
                [style.width]="segment.percent + '%'"
                [style.background]="semanticColor(segment.color)"
                [style.--color]="semanticColor(segment.color)"
            ></div>
        }
    </div>
</div>
