@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    background: theme('colors.tinted.800');
    color: theme('colors.tinted.100');
}

a {
    color: #0f91ff;
    text-decoration: underline;
}
